<div class="container">
  <div class="row">
    <div class="form-group col-md-9">
      <h3>Quienes somos?</h3>
      <p style="text-align: justify;">
        <b>6th Group Store</b>, es una tienda virtual especializada en la venta de alimentos de primera necesidad; tales
        como
        menestras, harinas, lácteos, entre otros alimentos. Además, ofrecemos a la distinguida clientela productos para
        el cuidado personal y limpieza del hogar.
      </p>
      <br>
      <h3>Nuestro Origen</h3>
      <p style="text-align: justify;">
        <b>6th Group Store</b> , representa a una ventana virtual de un emprendimiento familiar que surgió en el año 1968; por
        ello, retribuimos la confianza de nuestros clientes brindando atención personalizada, productos frescos y de
        buena calidad.
      </p>
      <hr>
    </div>
    <div class="form-group col-md-3">
      <img src="assets/img/store/tienda-01.jpg" alt="tienda" class="img-fluid">

      <hr>
      <h5>Características</h5>
      <ul>
        <li>Confianza</li>
        <li>Credibilidad</li>
        <li>Higiene</li>
        <li>Calidad</li>
        <li>Honradez</li>
      </ul>
    </div>
  </div>
</div>
