<div class="container">
  <h2>Contáctanos</h2>
  <form [formGroup]="contactForm" action="" class="">
    <div class="row">
      <div class="form-group col-md-6" name="divContact">
        <div class="form-group col-md-12">
          <label for="">Nombres</label>
          <input type="text" formControlName="nameClient" class="form-control">
        </div>
        <div class="form-group col-md-12">
          <label for="">Email</label>
          <input type="email" formControlName="email" class="form-control" placeholder="alguien@mail.com">
        </div>
        <div class="form-group col-md-12">
          <label for="">Asunto</label>
          <input type="text" formControlName="subject" class="form-control">
        </div>
        <div class="form-group col-md-12">
          <label for="">Mensaje</label>
          <textarea formControlName="message" id="" cols="30" rows="6" class="form-control"></textarea>
        </div>
        <div class="col-12">
          <hr class="mt-2 mb-4">
          <div class="d-sm-flex justify-content-between align-items-center">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="mailer">
              <label for="mailer" class="form-check-label">Enviar copia de seguridad.</label>
            </div>
            <button (click)="onSubmit()" class="btn btn-primary mt-3 mt-sm-0">Enviar mensaje</button>
          </div>
          <br>
          <p style="background-color: seashell;">
            Testing: <br>
            {{ contactForm.value | json }}
            <br>
            Status Form: <br>
            {{ contactForm.status }}
            <br>
            Formulario es valido?: {{contactForm.valid}}
          </p>
        </div>
      </div>
      <div class="form-group col-md-6" name="divLocation">
        <div class="form-group col-md-12">
          <h5>Localización</h5>
          <h6>Estamos aquí</h6>
          <hr>

            <img src="assets/img/store/map-01.png" alt="map" class="img-fluid">
        </div>
      </div>
    </div>
  </form>

</div>

