
.tab-line{
  background-color: #FC5F10;
  color: #FC5F10;
  height: 2px;
}

.icon-color-6th{
  color: #FC5F10;
}

.panel-6th{
  border-radius: 4px;
  box-shadow: black;
}

.btn-left{
  float: left;
}
.btn-right{
  float: right;
}

.btn-6th{
  background-color: #fc5f10;
  color: antiquewhite;
}
.txt-color{
  color:  #fc5f10;
  font-weight: bold;
}
