
.panel-rounded{
  position: relative;
  border-radius: 10px;
  /* top: -60px; */
  /* float: initial; */
  /* display: flex;
  background-position-y: -20px; */
}

.menu-back-color{
  background-color: #FC5F10;
  color: bisque;
  border-radius: 3px;
}
.menu-color{
  color: bisque;
}
